@font-face {
  font-family: "Roboto-Regular";
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?1427783229') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular-webfont.svg?1427783229') format('svg'), url('../fonts/roboto/Roboto-Regular-webfont.ttf?1427783229') format('truetype'), url('../fonts/roboto/Roboto-Regular-webfont.woff?1427783229') format('woff');
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
  font-family: "Roboto-Light";
  src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Light.woff') format('woff'), url('../fonts/roboto/Roboto-Light.ttf') format('truetype'), url('../fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg');
}

@font-face {
  font-family: "Roboto-Medium";
  src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium.woff') format('woff'), url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
  font-family: "dhmsm_icons";
  src: url('../fonts/icons/dhmsm_icon_fonts.eot?1429601488') format('embedded-opentype'), url('../fonts/icons/dhmsm_icon_fonts.svg?1429601488') format('svg'), url('../fonts/icons/dhmsm_icon_fonts.ttf?1429601488') format('truetype'), url('../fonts/icons/dhmsm_icon_fonts.woff?1429601488') format('woff');
}
