// COLORS

$color-white: #FFFFFF;

$color-black:#000000;
$color-black-light:#333333; //$color-light-black:#333333;

$color-gray-dark:#DEE2E4; // $color-dark-gray:#DEE2E4;
$color-gray-deep:#B4B4B4; // $color-deep-gray:#B4B4B4;
$color-grey-light:#999999; //$color-light-grey:#999999;
$color-grey-blackish:#666666; // $color-blackish-grey:#666666;
$color-grey-border:#E6E6E6; // $color-border-grey:#E6E6E6;
$color-grey-text:#4D4D4D; // $color-text-grey:#4D4D4D;
$color-grey-tile:#E3E3E3;
$color-grey-select-border:#DDD;
$color-white-hamburger:#F1F1F1;
$color-grey-alert:#C8C7CC;
$color-gray-alert-border:#979797;

$color-red-bright:#ff0000; // $color-bright-red:#ff0000;
$color-red-light:#FF3B30; // $color-light-red:#FF3B30;
$color-red-wave:#FF3B30; // $color-wave-red:#FF3B30;
$color-red-badge:#FF3A2F; // $color-badge-red:#FF3A2F;

$color-blue-dark:#325987; //$color-dark-blue:#325987;
$color-blue-light:#a4c7ec; //$color-light-blue:#a4c7ec;
$color-blue-sky:#6CAFDB; //$color-sky-blue:#6CAFDB;
$color-blue-bright:#0079FF; // $color-bright-blue:#0079FF;
$color-blue-button:#007AFF; // $color-button-blue:#007AFF;

$color-green-lime:#86C32F; // $color-lime-green:#86C32F;
$color-green-button:#90CD3A ; // $color-button-green:#90CD3A ;
$color-green-button-outline:#87B236; // $color-button-outline-green:#87B236;
$color-green-light:#4CD963; // $color-light-green:#4CD963;
$color-green-wave:#4CD963; // $color-wave-green:#4CD963;

$color-brown-light:#A67C52; // $color-light-brown:#A67C52;
$color-brown-text:#8c6239; // $color-text-brown:#8c6239;

$color-orange-light:#FF9500; // $color-light-orange:#FF9500;

$color-yellow-wave:#FFCC00; // $color-wave-yellow:#FFCC00;

$color-steel-tiles:#F4F4F4; // $color-tiles-steel:#F4F4F4;
$color-steel-shadow:#C9CED0; // $color-shadow-steel:#C9CED0;

$color-pink-dark:#ff9e9e;
$color-pink-light:#ffebeb;


// UNGROUPED COLORS
$page-background: #9c1616;//#F4F4F4;

$app-theme-content-icon-color: #007AFF;
$app-theme-content-background-color: $color-white;

$app-status-color-0: #FF0000;
$app-status-color-1: #FF8D10;
$app-status-color-2: #4CD762;


// SPECIFICATIONS

$input-border-radius: .4em; // $border-radius-input: .4em;
$input-padding:5%; // $padding-input:5%;

$button-border-radius:.3em; // $border-radius-button:.3em;

$select-border-radius: 0.4em; // $border-radius-select: 0.4em;
$select-padding:3%; // $padding-select:3%;

// UNGROUPED SPECIFICATIONS
$header-icon-padding-top:0.5em; // $padding-top-header-icon:0.5em;







